<div class="alert alert-success">
    <h3 class="text-center">Маршрутный лист {{ listId }} успешно создан</h3>
    <h5 class="text-center">Для отслеживания за ходом сборки и доставки перейдите в диспетчер доставок</h5>
</div>