{#шаблон для заказов, которые не попали ни в одну зону приавтоматическом распределении#}
<div class="panel panel-default" id="notAllocated">
    <div class="panel-heading allocatedHeader">
        <h3 class="panel-title">Нераспределённые (<span class="zoneOrdersCount"></span>)</h3>
    </div>
    <div class="panel-body allocatedContent" >
        <div class="ordersAllocated">
            <ol></ol>
        </div>
    </div>
</div>